body {
  font-family: Arial, sans-serif;
 background: linear-gradient(to right, #d25ac0, #950389);

  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-title {
  font-size: 60px;
  color: #fefdfd;
  margin-bottom: 20px;
}

.login-txt{
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.login-input {
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-input:focus {
  border-color: #1c3ee7;
  outline: none;
  box-shadow: 0 0 5px rgba(28,62,231,0.5);
}

.login-btn {
  padding: 12px 15px;
  background-color: #1c3ee7;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1556c0;
}

.login-text {
  text-align: center;
  margin-top: 15px;
}

.login-link {
  color: #1c3ee7;
  font-weight: 600;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
